#background
{
   /*  border: 1px solid black;*/
    background-color:aqua;
  /*  background-image:url(Images/raidBG.jpg);*/
   /* background-size: 1280px 800px;*/
  /*  background: "carte_bretagne.jpg";*/
    background-repeat: no-repeat;
    padding:0px;
    width: 100%;
   /* height: 1000px;*/  /*800px*/
    
      margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

    